.testRuns{
    padding-top:80px;

}
.card{
    margin: 20px auto;
    float: none;
    margin-bottom: 30px;
    width: 30%;
    cursor: pointer;
    background-color:#334f6b;
}

.card span{
    font-weight:bolder;
    font-size:x-large;
    text-transform: capitalize;
}

.card :hover{
    background-color:#327892;
}

@media (max-width: 648px) {
    .card {
        width:90%;
    }
}