  
  
  
  .responsiveTable {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    
  }
  @media screen and (max-width: 650px) {
    .responsiveTable {
        width: 90%;
      }
  }

  .responsiveTable thead {
    background: #fafafa;
  }

  .responsiveTable tr {
    border: 1px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    padding: 5px;
    margin-bottom: 10px;
  }

  .responsiveTable th,
  .responsiveTable td {
    padding: 10px;
    text-align: left;
  }
  .responsiveTable th {
    text-transform: uppercase;
    font-size: 15px;
  }
  .responsiveTable td:last-child {
    border-bottom: none;
  }

  .btn{
    background-color: #334f6b;
  }

  .btn:hover{
    background-color:#327892;
  }

  .reportHeader{
      margin-top: 100px;
      font-size: xx-large;
      font-weight: bolder;
      text-align: center;
  }